<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cadillac.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>7659F1A82BBE0DE89B4DCBF4AA95EBA99DE117DF</string>
				<key>dateExpires</key>
				<string>16.02.2023</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7659F1A82BBE0DE89B4DCBF4AA95EBA99DE117DF</string>
						<key>dateExpires</key>
						<string>16.02.2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4Q43RYHBJS</string>
						<key>name</key>
						<string>Mir Internet, LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7659F1A82BBE0DE89B4DCBF4AA95EBA99DE117DF</string>
						<key>dateExpires</key>
						<string>16.02.2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>DKImagePickerController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4Q43RYHBJS</string>
						<key>name</key>
						<string>Mir Internet, LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>4.3.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7659F1A82BBE0DE89B4DCBF4AA95EBA99DE117DF</string>
						<key>dateExpires</key>
						<string>16.02.2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>DKPhotoGallery.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4Q43RYHBJS</string>
						<key>name</key>
						<string>Mir Internet, LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.17</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7659F1A82BBE0DE89B4DCBF4AA95EBA99DE117DF</string>
						<key>dateExpires</key>
						<string>16.02.2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4Q43RYHBJS</string>
						<key>name</key>
						<string>Mir Internet, LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7659F1A82BBE0DE89B4DCBF4AA95EBA99DE117DF</string>
						<key>dateExpires</key>
						<string>16.02.2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4Q43RYHBJS</string>
						<key>name</key>
						<string>Mir Internet, LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>5.13.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7659F1A82BBE0DE89B4DCBF4AA95EBA99DE117DF</string>
						<key>dateExpires</key>
						<string>16.02.2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyGif.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4Q43RYHBJS</string>
						<key>name</key>
						<string>Mir Internet, LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>5.4.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7659F1A82BBE0DE89B4DCBF4AA95EBA99DE117DF</string>
						<key>dateExpires</key>
						<string>16.02.2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>file_picker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4Q43RYHBJS</string>
						<key>name</key>
						<string>Mir Internet, LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7659F1A82BBE0DE89B4DCBF4AA95EBA99DE117DF</string>
						<key>dateExpires</key>
						<string>16.02.2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>hexcolor.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4Q43RYHBJS</string>
						<key>name</key>
						<string>Mir Internet, LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7659F1A82BBE0DE89B4DCBF4AA95EBA99DE117DF</string>
						<key>dateExpires</key>
						<string>16.02.2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>image_picker_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4Q43RYHBJS</string>
						<key>name</key>
						<string>Mir Internet, LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7659F1A82BBE0DE89B4DCBF4AA95EBA99DE117DF</string>
						<key>dateExpires</key>
						<string>16.02.2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>path_provider_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4Q43RYHBJS</string>
						<key>name</key>
						<string>Mir Internet, LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7659F1A82BBE0DE89B4DCBF4AA95EBA99DE117DF</string>
						<key>dateExpires</key>
						<string>16.02.2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>shared_preferences_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4Q43RYHBJS</string>
						<key>name</key>
						<string>Mir Internet, LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7659F1A82BBE0DE89B4DCBF4AA95EBA99DE117DF</string>
						<key>dateExpires</key>
						<string>16.02.2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>url_launcher_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4Q43RYHBJS</string>
						<key>name</key>
						<string>Mir Internet, LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>4Q43RYHBJS.com.cadillac.cadillac</string>
				<key>com.apple.developer.team-identifier</key>
				<string>4Q43RYHBJS</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>a03f70e1-beb8-407d-9b48-fe4423e6e25d</string>
				<key>dateExpires</key>
				<string>16.02.2023</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.cadillac.cadillac</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>4Q43RYHBJS</string>
				<key>name</key>
				<string>Mir Internet, LLC</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
